
    <div class="jumbotron" style="background-color:#009999; margin-bottom: 0; ">
        <h1 class="display-4">Hello, welcome to Chatter</h1>
        <p class="lead">
          Yes I am well aware this is a very poor man's version of twitter
        </p>
        <hr class="my-4" />
        <p>
          This is just a project I've worked on to practise with node.js. c.
          3/25/2020
        </p>
      </div>
    
</body>
</html>
