<%- include("header"); -%>


    <h1>Welcome to <%= userName %>'s Page</h1>

    <br />

    <div id="chitterBox" class="container">
      <button id="ChitLoader" class="btn btn-info">Load more Chatters</button>
    </div>
    <br />
    <script src="/user.js"></script>

    <%- include("footer"); -%>
